<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Force latest IE rendering engine or ChromeFrame if installed -->
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}">
        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="{{ site.data.assets.css.bootstrap }}">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="{{ site.data.assets.css.fontawesome }}">
    </head>
    <body>
